<ion-view title="Furniture">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="showCatergories()">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>
        <div class="row">
            <div class="col col-50"><a href="#/tab/facts" ng-click="itemClicked(0)"><img src="img/couch.jpg"/></a></div>
            <div class="col col-50"><a href="#/tab/facts" ng-click="itemClicked(6)"><img src="img/shoerack.jpeg"/></a></div>
        </div>
    </ion-content>
</ion-view>