<ion-view title="My Room">
    <ion-nav-buttons side="right">
        <div><img src="img/michigan.png"/></a></div>
    </ion-nav-buttons>
    <ion-content padding="false">
        <div class="list">

            <a class="item item-thumbnail-left" href="#tab/reserved">
                <img src="img/cart.png">
                <h2>Reserved Items</h2>
                <p>Items you have reserved to buy.</p>
            </a>
            <a class="item item-thumbnail-left" href="">
                <img src="img/list.png">
                <h2>Listed items</h2>
                <p>Items you have listed to sell.</p>
            </a>
            <a class="item item-thumbnail-left" href="">
                <img src="img/save.png">
                <h2>Saved items</h2>
                <p>Items you have saved for later.</p>
            </a>
            <a class="item item-thumbnail-left" href="">
                <img src="img/history.png">
                <h2>History</h2>
                <p>Transaction history.</p>
            </a>
            <a class="item item-thumbnail-left" href="">
                <img src="img/settings.png">
                <h2>Settings</h2>
                <p>User and account settings.</p>
            </a>
            <a class="item item-thumbnail-left" href="#/sign-in">
                <img src="img/logout.png">
                <h2>Log out</h2>
                <p>Log out of user account.</p>
            </a>

        </div>
    </ion-content>
</ion-view>