<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Categories</h1>
        <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <form ng-submit="selectCategory()">
            <ul class="list">
                <li class="item"><button type="submit" class="astext">Furniture</button></li>
                <li class="item"><button type="submit" class="astext">Electronic</button></li>
                <li class="item"><button type="submit" class="astext">Tickets</button></li>
                <li class="item"><button type="submit" class="astext">Textbooks</button></li>
                <li class="item"><button type="submit" class="astext">Bicycles</button></li>
                <li class="item"><button type="submit" class="astext">Clothing</button></li>
                <li class="item"><button type="submit" class="astext">Video Games</button></li>
                <li class="item"><button type="submit" class="astext">Sublets</button></li>
                <li class="item"><button type="submit" class="astext">Services</button></li>
            </ul>
        </form>
    </ion-content>
</div>