<ion-view title="Reserved Items">
    <ion-nav-buttons side="right">
        <div><img src="img/michigan.png"/></a></div>
    </ion-nav-buttons>
    <ion-content padding="false">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" href="#/tab/transact">
                <img src="img/couch.jpg">
                <h2>Couch</h2>
                <p>Seller: Nikhil D</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/transact">
                <img src="img/mbp.jpg">
                <h2>Macbook Pro</h2>
                <p>Seller: James C</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/transact">
                <img src="img/microwave.jpg">
                <h2>Microwave</h2>
                <p>Seller: Gary H</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/transact">
                <img src="img/chair.JPG">
                <h2>Chair</h2>
                <p>Seller: Ameya K</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/transact">
                <img src="img/hookah.jpg">
                <h2>Hookah</h2>
                <p>Seller: Varun M</p>
            </a>
        </div>

    </ion-content>
</ion-view>