<ion-view title="Sell Item">
    <ion-nav-buttons side="right">
        <div><img src="img/michigan.png"/></a></div>
    </ion-nav-buttons>
    <ion-content padding="true">

        <div class="row">
            <div class="col"><img src="img/cameraicon.png"/></div>
            <div class="col" style="padding-top: 10;"><img src="img/redlaser.png"/></div>
        </div>

        <!-- Product Image -->
        <div class="list">

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Item Name</span>
                </div>
                <div class="col col-50 text-right">
                    <input type="text" placeholder="Name">
                </div>
            </div>

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Description</span>
                </div>
                <div class="col col-50 text-right">
                    <input type="text" placeholder="Description">
                </div>
            </div>

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Details</span>
                </div>
                <div class="col col-50 text-right">
                    <input type="text" placeholder="Condition">
                </div>
            </div>

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Price</span>
                </div>
                <div class="col col-50 text-right">
                    <input type="text" placeholder="$0.00">
                </div>
            </div>

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Categories</span>
                </div>
                <div class="col col-50 text-right">
                    <div class="input-label-right">
                        <select>
                            <option selected>Select</option>
                            <option>Furniture</option>
                            <option>Electronic</option>
                            <option>Tickets</option>
                            <option>Textbooks</option>
                            <option>Bicycles</option>
                            <option>Clothing</option>
                            <option>Video Games</option>
                            <option>Sublets</option>
                            <option>Services</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Location Preference #1</span>
                </div>
                <div class="col col-50 text-right">
                    <div class="input-label-right">
                        <select>
                            <option selected>Select</option>
                            <option>Law Library</option>
                            <option>Dennison</option>
                            <option>Aboretum</option>
                            <option>Other</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Location Preference #2</span>
                </div>
                <div class="col col-50 text-right">
                    <div class="input-label-right">
                        <select>
                            <option selected>Select</option>
                            <option>Law Library</option>
                            <option>Dennison</option>
                            <option>Aboretum</option>
                            <option>Other</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="row item item-input">
                <div class="col col-50 text-left">
                    <span class="input-label">Location Preference #3</span>
                </div>
                <div class="col col-50 text-right">
                    <div class="input-label-right">
                        <select>
                            <option selected>Select</option>
                            <option>Law Library</option>
                            <option>Dennison</option>
                            <option>Aboretum</option>
                            <option>Other</option>
                        </select>
                    </div>

                </div>
            </div>

        </div>

        <!-- Action Buttons -->
        <div class="row" style="padding-top:5px; padding-left: 20px;">
            <div class="col col-50">
                <a class="button button-medium flatblue" style="display: block; width:100px;"href="#/tab/home">List</a>
            </div>
            <div class="col col-5"></div>
            <div class="col col-50">
                <a class="button button-medium flatblue" style="display: block; width:100px;"href="#/tab/home">Save</a>
            </div>
        </div>

    </ion-content>
</ion-view>