<ion-view title="Sell Item">
    <ion-content padding="true">

        <div class="row">
            <div class="col"><img src="img/cameraicon.jpeg"/></div>
            <div class="col"><img src="img/redlaser.png"/></div>
        </div>

        <!-- Product Image -->
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Item Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Description">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Details</span>
                <input type="text" placeholder="Condition">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Price</span>
                <input type="text" placeholder="$0.00">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label" >Location Preference #1</span>
                <label class="item item-input item-select-right">
                    <div class="input-label-right">
                        &nbsp
                    </div>
                    <select>
                        <option selected>Select</option>
                        <option>Library</option>
                        <option>Student Union</option>
                        <option>Mens Restroom</option>
                        <option>Other</option>
                    </select>
                    <div class="input-label-right">
                        &nbsp&nbsp&nbsp
                    </div>
                </label>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Location Preference #2</span>
                <label class="item item-input item-select-right">
                    <div class="input-label-right">
                        &nbsp
                    </div>
                    <select>
                        <option selected>Select</option>
                        <option>Library</option>
                        <option>Student Union</option>
                        <option>Mens Restroom</option>
                        <option>Other</option>
                    </select>
                    <div class="input-label-right">
                        &nbsp&nbsp&nbsp
                    </div>
                </label>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Location Preference #3</span>
                <label class="item item-input item-select-right">
                    <div class="input-label-right">
                        &nbsp
                    </div>
                    <select>
                        <option selected>Select</option>
                        <option>Law Library</option>
                        <option>Dennison</option>
                        <option>Aboretum</option>
                        <option>Other</option>
                    </select>
                    <div class="input-label-right">
                        &nbsp&nbsp&nbsp
                    </div>
                </label>
            </label>
        </div>

        <!-- Action Buttons -->
        <div class="row" style="padding-top:5px; padding-left: 20px;">
            <div class="col col-50">
                <a class="button button-medium flatblue" style="display: block; width:100px;"href="#/tab/home">List</a>
            </div>
            <div class="col col-5"></div>
            <div class="col col-50">
                <a class="button button-medium flatblue" style="display: block; width:100px;"href="#/tab/home">Save</a>
            </div>
        </div>

    </ion-content>
</ion-view>