<ion-tabs class="tabs-icon-top tabs-puja">

    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Room" icon="ion-log-in" href="#/tab/myroom">
        <ion-nav-view name="myroom-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Messages" icon="ion-ios7-chatboxes" href="#/tab/messages">
        <ion-nav-view name="messages-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sell" icon="ion-log-out" href="#/tab/sell">
        <ion-nav-view name="sell-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>